################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/SRC/.vs/Sopdu
/SRC/packages
/SRC/.vs/ProjectEvaluation
/SRC/Dct.Models/bin/Debug
/SRC/Dct.Models/obj/Debug
/SRC/Dct.UI/bin/Debug
/SRC/Dct.UI/obj/Debug
/SRC/Dct.UI/obj
/SRC/Dct.UI.Alarm/bin/Debug
/SRC/Dct.UI.Alarm/obj/Debug
/SRC/Dct.UI.Alarm/obj
/SRC/ModbusTcp/bin/Debug/net472
/SRC/ModbusTcp/obj/Debug/net472
/SRC/ModbusTcp/obj
/SRC/Sopdu/bin/Debug
/SRC/Sopdu/LogPanel/bin/Debug
/SRC/Sopdu/LogPanel/obj/Debug
/SRC/Test/obj/Debug
/SRC/Test/bin/Debug
/SRC/Sopdu/obj/Debug
