<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>

		<!--此部分中的所有目标将自动异步-->
		
			<!--项目日志保存文件路径说明fileName="${basedir}/保存目录，以年月日的格式创建/${shortdate}/${记录器名称}-${单级记录}-${shortdate}.txt"-->
			<target name="log_file" xsi:type="File"
					fileName="${basedir}/LogsEachClass/${shortdate}/${logger}_${shortdate}.txt"
					layout="${longdate} |${level}| ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
					concurrentWrites="true"
					keepFileOpen="false"
				    async="true"/>
		    <target name="log_file1" xsi:type="File"
					fileName="${basedir}/LogsAllClass/${shortdate}/${shortdate}.txt"
					layout="${longdate} |${level}| ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
					concurrentWrites="true"
					keepFileOpen="false"
				    async="true"/>
    </targets>

	

	<rules>
		<!-- add your logging rules here -->
		<logger name="*" minlevel="Debug" writeTo="log_file"/>
	    <logger name="*" minlevel="Debug" writeTo="log_file1" />

	</rules>
</nlog>
